<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="comment">
            <h2><span>Comment</span> {{ comment.id }}</h2>

            <hr>

            <jwn-alert-error></jwn-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Content</span></dt>
                <dd>
                    <span>{{ comment.content }}</span>
                </dd>
                <dt><span>Create Date</span></dt>
                <dd>
                    <span>{{ comment.createDate }}</span>
                </dd>
                <dt><span>User</span></dt>
                <dd>
                    {{ comment.user?.login }}
                </dd>
                <dt><span>Product</span></dt>
                <dd>
                    <div *ngIf="comment.product">
                        <a [routerLink]="['/product', comment.product?.id, 'view']">{{ comment.product?.title }}</a>
                    </div>
                </dd>
                <dt><span>Parent</span></dt>
                <dd>
                    <div *ngIf="comment.parent">
                        <a [routerLink]="['/comment', comment.parent?.id, 'view']">{{ comment.parent?.id }}</a>
                    </div>
                </dd>
                <dt><span>Tag</span></dt>
                <dd>
                    <span *ngFor="let tag of comment.tags; let last = last">
                        <a [routerLink]="['/tag', tag?.id, 'view']">{{ tag.name }}</a>{{ last ? '' : ', ' }}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/comment', comment.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
